# OS
.DS_Store
Thumbs.db

# Backend
backend/.bundle
backend/log/*
backend/tmp/*
backend/storage/*
!backend/storage/.keep
backend/config/master.key
backend/.env
backend/.env.local

# Frontend
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.vite

# IDE
.vscode
.idea
*.swp
*.swo



